<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://media.licdn.com/dms/image/v2/D4E12AQEMFmpnkGo3rQ/article-cover_image-shrink_720_1280/article-cover_image-shrink_720_1280/0/1731974350384?e=2147483647&v=beta&t=M7Q3Zgt-k4KDppw9iKjdKEZoecqDcpz93Df-6ZXEswY" alt="">
    </div>

    <div class="big-card__title">
        <h2><a href="">Saiu a nova versão do Angular</a></h2>
    </div>

    <div class="big-card__description">
        <p>
            <a href="">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus fugiat numquam fdsklfn
                ajfklsadf dfnaklsdf dasjkd adsokd asdoad dasjioaqd daioqwdf
            </a>
        </p>
    </div>
</div>