.container__small-card{
    /* border: 2px solid blue; */
    width: 450px;
    height: auto;
    margin-bottom: 15px;

    /* background-color: chartreuse; */
    padding: 10px;
}

.container__small-card-content{
    display: flex;
    flex-direction: row;
}

.small-card__photo{
    height: 115px;
    /* border: 1px solid pink; */
}

.small-card__photo > img{
    width: 200px;
    margin-right: 20px;
}

.small-card__title{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.container__small-card-separator{
    margin-top: 10px;
}