@media screen and (max-width:576px) {
    
    .container__content{      
        width: 100%;        
        height: auto;    
    }
    
    .content_title > h1{
        margin-top: 20px;
        font-size: 22px;
    }

    .content__cover{
        padding: 0;
    }
    
    .content__cover > img{
        width: 100%;
    }
    
    .content__description{
        margin-top: 15px;
        text-indent: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }
    
    .content__description > p{
        color: grey;
        margin-top: 20px;
        text-align: justify;
        margin-bottom: 20px;
    }
    
    .content__description > a{
        text-align: center;
        margin-bottom: 40px;        
    }
    
    
}