.container__articles{
    margin-top: 30px;
    display: flex;
    justify-content: center;

    /* border: 1px solid red; */
}

header{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
